body {
    padding-left: 1em;
    font-family: Consolas;
    font-size: 0.75em;
    width: 35em;
}

h4 {
    overflow: hidden;
    font-style: italic;
}

h4:before {
    content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\A\A";
    white-space: pre-wrap;
    font-weight: normal;
}

h4:after {
    content: "\A\A~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
    white-space: pre-wrap;
    font-weight: normal;
}

p {
    text-align: justify;
}

a {
    color: #01d4b4;
    text-decoration: none;
}

a:viited {
    color: #01d4b4;
    text-decoration: none;
}

a:hover {
    color: #01d4b4;
    text-decoration: underline;
}

ul {
    list-style: circle;
    padding-left: 1em;
}

li {
    margin-bottom: 1em;
}